<html>
<head>
	<title>{% block title %}{% endblock %} -Tw</title>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">
	
</head>
<body class="bg-light">
	   <nav class=" container-fluid navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="btn btn-dark nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark nav-link" href="/profile" style="color: #fff;">Edit profile</a>
          </li>
          <li class="nav-item">
            <form action="/showprofile" method="POST">
                <button type="submit" class="btn btn-dark nav-link" style="color: #fff;">{{username}}</button>
              </form>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark nav-link" href="/logout" style="color: #fff;">Logout</a>
          </li> 


          <li class="nav-item" style="margin-left: 20px;">
             <div class="dropdown show">
  <a class="btn nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
    You Followed
  </a>

  <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink" style="background-color: #212529;border-radius: 20px;">
    {% for follow in followed %}
    <form action="/showprofile" method="POST" style="margin-left: 5px;margin-right: 5px;">
                <input type="text" name="username" value="{{follow[0]}}" style="display:none;">
                <input type="submit" class="btn btn-secondary btn-block text-center" value="{{follow[0]}}">
              </form>
     {% endfor %}
  </div>
</div>
          </li> 
 
                    <li class="nav-item" style="margin-left: 20px;">
             <div class="dropdown show">
  <a class="btn nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLin" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
    Following You
  </a>

  <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLin" style="background-color: #212529;border-radius: 20px;">
    {% for followk in following %}
    <form action="/showprofile" method="POST" style="margin-left: 5px;margin-right: 5px;display: inline;">
                <input type="text" name="username" value="{{followk[0]}}" style="display:none;">
                <input type="submit" class="btn btn-secondary text-center" value="{{followk[0]}}">
              </form>

              <form action="/block" method="POST" style="margin-left: 5px;margin-right: 5px;display: inline;">
                <input type="text" name="username" value="{{followk[0]}}" style="display:none;">
                <button type="submit" class="btn btn-danger">X</button>
              </form>
              <br><br>
     {% endfor %}
  </div>
</div>
          </li> 

        </ul>
        
      </div>
      <img class="mb-4" src="https://www.freeiconspng.com/uploads/letter-k-icon-png-6.png" alt="" width="50" height="50">

     



    </nav>

<br><br><br><br>
	{% block content %}{% endblock %}

</body>
</html>