{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

      <div class="jumbotron text-center">
        <h1 class="display-3">{{profile.fullname}}</h1>
        <table class="table table-dark text-center">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Username</th>
      <th scope="col">Age</th>
      <th scope="col">Ocuupation</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{profile.fullname}}</td>
      <td>{{profile.username}}</td>
      <td>{{profile.age}}</td>
      <td>{{profile.occupation}}</td>
    </tr>
    
  </tbody>
</table>
{% if profile.username == username %}
        
       <p><a class="btn btn-lg btn-success" href="/profile" role="button">Edit Profile</a></p>

{% else %}



{% set k=0 %}
{% for follow in followed %}
{% if profile.username==follow[0] %}
{% set k=k+1 %}
{% endif %}

{% endfor %}




{% if k==0 %}

<form action="/followuser" method="POST">
  <input type="text" name="userid" value="{{profile.user_id}}" style="display: none;">
  <input type="text" name="username" value="{{profile.username}}" style="display: none;">
  <input type="submit" class="btn btn-lg btn-success" value="Follow {{profile.username}}">
</form>

{% elseif k==1 %}
<form action="/unfollow" method="POST">
  <input type="text" name="fuserid" value="{{profile.user_id}}" style="display:none;">
  <input type="submit" class="btn btn-lg btn-success" value="UnFollow {{profile.username}}">
</form>
{% endif %}



      
{% endif %}
      </div>





      <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">POSTs</th>
      <th scope="col">Date/Time</th>
    </tr>
  </thead>
  <tbody>
{% set i=1 %}
{% for utweet in utweets %}
    <tr>
      <th scope="row">{{i}}</th>
      <td>{{utweet.tweets}}</td>
      <td>{{utweet.tweetdate}}</td>

      {% if utweet.prefix == username %}
      <td>
        <form action="/deletetweet" method="POST">
            <input type="text" name="tobedel_prefix" value='{{utweet.prefix}}' style="display: none;">
            <input type="text" name="tobedel_tweet" value='{{utweet.tweets}}' style="display: none;">
          <input type="submit" value="DELETE" class="btn btn-danger">
          </form>
      </td>
      {% endif %}
    </tr>
{% set i=i+1 %}
{% endfor %}    
   
  </tbody>
</table>


   


{% endblock %}